<div class="container">
    <form method="" action="">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email..."/>
        </div>

        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe..."/>
        </div>

        <div class="form-group">
            <input class="form-check-input" type="checkbox" value="" id="rememberme" >
            <label class="form-check-label" for="rememberme">Se souvenir de moi</label>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Envoyer</button>
        </div>
    </form>
</div>
