<div class='container-fuild principal'>

  <!-- Barre de navigation -->
  <nav class='navbar navbar-expand-lg navbar-light'>
    <a class='navbar-brand' href='/'>
      <img src="./assets/images/logo_music.jpg" alt="{{ title }}" style="width:70px">
      {{ title }}
    </a>
    <button
      class='navbar-toggler'
      type='button'
      data-toggle='collapse'
      data-target='#navbarNavAltMarkup'
      aria-controls='navbarNavAltMarkup'
      aria-expanded='false'
      aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
      <ul class='navbar-nav mr-auto'>
        <li class='nav-item'>
          <a class='nav-link' routerLink='/albums' routerLinkActive="active">Home
              <span class='sr-only'>(current)</span>
          </a>
        </li>
        <li class='nav-item'>
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Se connecter
                <span class='sr-only'>(current)</span>
            </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class='nav-item text-dark'>Temps de connexion : {{ timer|date:'HH:mm:ss' }}</li>
      </ul>
    </div>
  </nav>
    <router-outlet></router-outlet>
</div>
