<div class="card mt-4" *ngIf="album" [@myAnimationDetailAlbum]="isActive ? 'open' : 'closed'">

  <img *ngIf="album.url" class="card-img-top" src="https://picsum.photos/200/300?image=100{{ album.id }}" alt="{{ album.title }}">
  <div class="card-body">
    <h5 class="card-title">{{ album.title }}</h5>
    <p class="card-text">Name: {{ album.name }}</p>

    <button *ngIf="album.status === 'off'" class="btn btn-primary" (click)='playAlbum(album)'>Play</button>
    <button *ngIf="album.status === 'on'" class="btn btn-primary" (click)='stopPlayAlbum(album)'>Stop</button>
  </div>

  <h2>Liste des chansons</h2>
  <ul class="list-group" *ngIf="songs">
    <li *ngFor="let song of songs.list " class="list-group-item">{{song}}</li>
  </ul>
</div>