<div class="container">

    <a href="/" style="text-decoration: underline;float: right">Retour vers la liste des albums</a>
    <div class="clearfix"></div>
    <div class='card'>
        <div class='card-header'>{{ album.name }}
            <span class='btn btn-outline-dark btn-sm'
                  style="float: right" href='#' role='button'>
                {{ album.language }}
            </span>
            <img src="assets/images/{{ album.language}}.png" alt="{{ album.language}}">
        </div>
        <div class='card-body'>
            <h5 class='card-title'>
                <span class='card-selected'>{{album.title}}</span>
            </h5>
            <p class='card-text'>{{ album.description }}</p>

            <!-- si tags pour l'album concerné -->
            <ul *ngIf='album.tags' class='list-inline'>
                <li class='list-inline-item' *ngFor='let word of album.tags'>
                    <span class='badge badge-info'>{{ word }}</span>
                </li>
            </ul>

            <div class="img-responsive mt-4 img-thumbnail">
                <img src="https://picsum.photos/200/300?image=100{{ album.id }}" alt="{{ album.title }}">
            </div>

            <!-- gestion d'un if plus complexe voir doc Angular -->
            <ng-template [ngIf]='album.like'>
                <img class='glyph-icon' src='./assets/svg/si-glyph-heart.svg' />
                <small>{{ album.like }}</small>
            </ng-template>
            <ng-template [ngIf]='album.duration'>
                <img class='glyph-icon' src='./assets/svg/si-glyph-timer.svg' />
                <small>{{ album.duration }} min</small>
            </ng-template>
        </div>
    </div> <!-- .card -->
</div>
