<form class="form-inline my-2 my-lg-0 bg-search"
      (ngSubmit)="onSubmit(formSearch)" #formSearch="ngForm">

    <label for="word">Recherche d'albums</label>
    <input name="word" id="word" ngModel required
           class="form-control mr-sm-2" type="search" placeholder="Rechercher sur..." aria-label="Search">

    <!-- Directive disabled pour désactiver le formulaire si il n'est pas valide -->
    <button [disabled]="formSearch.invalid" class="btn btn-outline-success my-2 my-sm-0"
            type="submit">Rechercher</button>
</form>