<div class='row content'>

    <div class="col-sm-12">
        <!-- ENFANT = searchAlbums OUTPUT -->
        <!-- $event contient le résultat de recherche -->
        <app-search (onSearch)="searchParent($event)"></app-search>
    </div>

  <!-- PARTIE DROITE : albumDetails -->
  <div class='col-sm-4 video'>
      <!-- ENFANT = AlbumDetails INPUT OUTPUT -->
      <!-- $event contient l'album -->
    <app-album-details [album]='selectedAlbum' (onPlayAlbum)="playParent($event)"></app-album-details>
  </div><!-- .video -->

  <!-- *** PARTIE DROITE : albumList *** -->
  <div class='col-sm-8 music'>
      <!-- ENFANT = lecteur audio INPUT -->
      <app-audio-player [album]="selectedAlbum" (onStopPlayAlbum)="playParent($event)"></app-audio-player>

      <!-- ENFANT = pagination -->
      <app-paginate (setPaginate)="paginate($event)"></app-paginate>

    <h4 style="margin-top: 10px;background: #ccc;padding-left: 5px">{{ titlePage }}</h4>

      <ng-template #noAlbums>
          <div class="alert alert-info">Aucun album trouvé pour la recherche :
              <span style="color: #000">{{ searchTerm }}</span>
              <p><a href="/">Revenir à la liste complète des albums</a></p>
          </div>
      </ng-template>

      <div *ngIf="albums.length>0; else noAlbums">

          <!-- let index permet de récupérer l'indice numérique de la liste -->
          <p class="text-dark">{{ albums.length }} albums <span *ngIf="searchTerm"> trouvés pour la recherche : <span style="color: #000;font-weight: bold;">{{ searchTerm }}</span></span></p>

          <div class='card' *ngFor='let album of albums; let index = index'> <!-- index -->
              <div class='card-header' style="cursor:pointer" (click)='onSelect(album)'>

                  <span class="badge badge-dark">{{ index + 1 }}</span>{{ album.ref }}
                  <button *ngIf='status == album.id' class="btn btn-primary">Played</button>
              </div>
              <div class='card-body'>
                  <h5 class='card-title'>
                      <span class='card-selected'>
                          <a class="text-info" routerLink="/album/{{album.id}}">{{ album.title }}</a>
                      </span>
                  </h5>

                  <p class='card-text' style='color:black'>{{ album.name }}</p>
                  <p class='card-text'>{{ album.description }}</p>

                  <!-- si tags pour l'album -->
                  <ul *ngIf='album.tags' class='list-inline'>
                      <li class='list-inline-item' *ngFor='let word of album.tags'>
                          <span class='badge badge-info'>{{ word }}</span>
                      </li>
                  </ul>
                  <a class='btn btn-outline-dark' href='#' role='button'>{{ album.language }}</a>

                  <!-- permert de gérer un if plus complexe voir doc Angular -->
                  <ng-template [ngIf]='album.like'>
                      <img class='glyph-icon' src='./assets/svg/si-glyph-heart.svg' />
                      <small>{{ album.like }}</small>
                  </ng-template>
                  <ng-template [ngIf]='album.duration'>
                      <img class='glyph-icon' src='./assets/svg/si-glyph-timer.svg' />
                      <small>{{ album.duration }} min</small>
                  </ng-template>
                  <button (click)='onSelect(album)' class='btn btn-secondary'>Details</button>
              </div>
          </div> <!-- .card -->

          <!-- ENFANT = pagination -->
          <!-- $event contient un objet avec propriété start & end -->
          <app-paginate (setPaginate)="paginate($event)"></app-paginate>
      </div>
  </div> <!-- .music -->
</div>
